body { 
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  margin-top: 0px;
  width: 100%;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 9990;
}

body {
  text-align: center;
  background-color: black;
}
.container {
  display: inline-block;
  color: white;
  line-height: 1.5;
}

.portfolio-color {
  color: rgba(255, 255, 0);
}

h2 {
  color: rgba(255, 255, 0);
}

p {
  font-size: 18px;
}

.live-link {
  font-size: 22px;
}

.live-link:hover {
  color:rgba(21, 248, 248);
  text-decoration: none;
}

.repo-link {
  font-size: 22px;
}

.repo-link:hover {
  color:rgba(21, 248, 248);
  text-decoration: none;
}

#home-link{
  background-color: black; 
  color:white;
  border: 2px solid white;
  padding: 8px;
  border-radius: 12px;
  height: 500px;
}

#portfolio-link {
  background-color:black; 
  color: white;
  border: 2px solid rgba(21, 248, 248);
  padding: 8px;
  border-radius: 12px;
}

#linkedin-link {
  background-color: black; 
  color: white;
  border: 2px solid white;
  padding: 8px;
  border-radius: 12px;
}

#github-link {
  background-color: black; 
  color: white;
  border: 2px solid rgba(255, 255, 0);
  padding: 8px;
  border-radius: 12px;
}

footer {
  width: 100%; 
  background-color: black; 
  text-align: center;
  }

.contact-info {
  width: 970px; 
  height: 70px; 
  color: white;
  margin: 0 auto;
  }

footer div ul li {
  display: inline-block; 
  margin-left: 50px; 
  font-size: 20px; 
  margin-top: 20px; 
  margin-right:50px;
  }

.info{
  padding: 0px;
  }

.name {
  float: left;
  font-size: 40px;
  margin-top: 10px;
  margin-left: 20px;
  color: black;
}

.name:hover{ 
  color: rgba(21, 248, 248);
}

.navbar > .content {
  width: 970px;
  height: 70px;
}

.navbar .links {
  float: right;
  margin-right: 20px;
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 16px;
  margin-top: 25px;
}

.navbar .links li {
  margin-right: 20px;
  display: inline-block;
  margin-left: 30px;
  font-family: 'Oswald', sans-serif;
  color: black;
}

nav div ul li:hover {
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

#portfolio {
padding-top: 200px; 
width: 970px;
margin-bottom: 100px;
}

#home {
  width:100%;
  padding-top:200px;
  margin-bottom: 50px;
}

img {
border: 2px black solid; 
margin: 0 20px; 
margin-bottom: 40px;
}

.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 550px;
  width: 900px;
}

#dailyUI:hover {
  color: rgba(21, 248, 248);
  text-decoration: none;
}

#votes {
  margin-bottom: 150px;
}

#patterns {
  margin-bottom: 150px;
}

#rank {
  margin-bottom: 150px;
}

#adventure {
  margin-bottom: 150px;
}

#footer-email:hover {
  background: url("Images/EmailBlue.png") no-repeat;
}

#footer-linkedin:hover {
  background: url("Images/LinkedInBlue.png") no-repeat;
}

#footer-github:hover {
  background: url("Images/GithubBlue.png") no-repeat;
}

#daily-email {
  margin-bottom: 150px;
}

@media only screen and (max-width: 600px) {
  .container {
    text-align: center;
  }

  .image {
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
  }

  img {
    margin: 0 auto;
    }

  ul.links {
    padding: 0;
  }
}
